/* Conteneur principal */
.heroSection {
  position: relative;
  overflow: hidden;
  height: 85vh;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Slider container */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

/* Slide style */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slideMedia {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Texte de contenu de la hero section */
.heroContent {
  position: relative;
  z-index: 2;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.getStartedButton {
  padding: 0.8rem 2rem;
  background-color: #ffffff;
  color: #1A73E8;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.getStartedButton:hover {
  background-color: #1A73E8;
  color: white;
}

/* Responsivité */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
